<section class="page-template contact-us">
  <div class="container">
    <p ng-bind-html="pages.contact_us.lead_copy" class="lead-copy"></p>
    <p ng-bind-html="pages.contact_us.page_copy"></p>
    <div class="styled-contact-form">
      <ng-include src="'/presentation/Forms/contact.html'"></ng-include>
    </div>
    <h4 class="detail-section-headline">Office Locations</h4>
    <ul class="list-unstyled locations">
      <li ng-repeat="location in pages.contact_us.locations" class="result">
        <div class="content">
          <h4 ng-bind-html="location.name"></h4>
          <ul class="list-unstyled">
            <li ng-bind-html="location.street_address"></li>
            <li ng-bind-html="location.city_state_zip"></li>
            <a ng-href="tel:{{location.phone_number}}">
              <li ng-bind-html="location.phone_number"></li>
            </a>
          </ul>
        </div>
      </li>
    </ul>
    <ul class="list-unstyled contact-sister-sites">
      <li ng-repeat="site in pages.contact_us.company_sister_sites">
        <a ng-href="{{site.link}}" target="_blank"><img ng-src="{{site.image.contentUrl}}"></a>
      </li>
    </ul>
  </div>
</section>
