<div ng-cloak ng-controller="CommonController">

  <div class="filters">
    <div class="filter">
      <label>Beds</label>
      <select ng-model="plans.beds">
        <option value="">(select)</option>
        <option ng-repeat="plan in plans | unique:'beds' | orderBy:'beds'">{{plan.beds}}</option>
      </select>
    </div>
    <div class="filter">
      <label>Baths</label>
      <select ng-model="plans.bathsFull">
        <option value="">(select)</option>
        <option ng-repeat="plan in plans | unique:'bathsFull' | orderBy:'bathsFull'">{{plan.bathsFull}}</option>
      </select>
    </div>
    <div class="filter">
      <label>Sort</label>
      <select ng-model="plans.order">
        <option value="name">Name</option>
        <option value="price">Price (Low to High)</option>
        <option value="-price">Price (High to Low)</option>
      </select>
    </div>
    <div class="filter">
      <label>Page</label>
      <dir-pagination-controls></dir-pagination-controls>
    </div>
  </div>

  <section class="cards">
    <div class="card" dir-paginate="plan in plans | filterBy:['beds']:plans.beds | filterBy:['bathsFull']:plans.bathsFull | orderBy:plans.order | itemsPerPage:12">
      <a href="?id={{plan.uniqueName}}">
        <div class="thumbnail">
          <img ng-if="plan.elevationPhotos[0].contentUrl" ng-src="{{plan.elevationPhotos[0].contentUrl|thumbnail:240:180:true}}" alt="">
          <img ng-if="!plan.elevationPhotos[0].contentUrl" ng-src="{{plan.photos[0].contentUrl|thumbnail:240:180:true}}" alt="">
        </div>
        <div class="card-content">
          <h2>{{plan.name}}</h2>
          <pills item="plan"></pills>
          <p>{{plan.description|characters:400}}</p>
        </div>
      </a>
    </div>

    <div ng-if="!ready" ng-include="BUILDERCLOUD.PURL + '/templates/loading.html'"></div>

  </section>

  <dir-pagination-controls></dir-pagination-controls>

</div>
