<ng-include template="/presentation/Menus/FYH/template.html"></ng-include>
<section>
  <div class="container">
    <div class="card-sorts">
      <div uib-dropdown class="filter-label" ng-init="min_beds = '0'">Bedroooms: <a ng-if="min_beds == '0'" uib-dropdown-toggle class="filter-select">All <i class="fa fa-caret-down" aria-hidden="true"></i></a> <a ng-if="min_beds != '0'" uib-dropdown-toggle class="filter-select">{{min_beds}}+</a>
        <ul uib-dropdown-menu>
          <li ng-click="min_beds = '0'"><a>All</a></li>
          <li ng-click="min_beds = 3"><a>3+</a></li>
          <li ng-click="min_beds = 4"><a>4+</a></li>
          <li ng-click="min_beds = 5"><a>5+</a></li>
        </ul>
      </div>
      <div uib-dropdown class="filter-label" ng-init="min_baths = '0'">Bathroooms: <a ng-if="min_baths == '0'" uib-dropdown-toggle class="filter-select">All <i class="fa fa-caret-down" aria-hidden="true"></i></a> <a ng-if="min_baths != '0'" uib-dropdown-toggle class="filter-select">{{min_baths}}+</a>
        <ul uib-dropdown-menu>
          <li ng-click="min_baths = '0'"><a>All</a></li>
          <li ng-click="min_baths = 2"><a>2+</a></li>
          <li ng-click="min_baths = 3"><a>3+</a></li>
          <li ng-click="min_baths = 4"><a>4+</a></li>
        </ul>
      </div>
      <div uib-dropdown class="filter-label" ng-init="order_field = 'name'">
        Sort:
        <a ng-if="order_field == 'name'" uib-dropdown-toggle class="filter-select">Name <i class="fa fa-caret-down" aria-hidden="true"></i></a>
        <a ng-if="order_field == 'price'" uib-dropdown-toggle class="filter-select">Price <i class="fa fa-caret-down" aria-hidden="true"></i></a>
        <a ng-if="order_field == '-sqft'" uib-dropdown-toggle class="filter-select">SqFt <i class="fa fa-caret-down" aria-hidden="true"></i></a>
        <ul uib-dropdown-menu>
          <li ng-click="order_field = 'name'"><a>Name</a></li>
          <li ng-click="order_field = 'price'"><a>Price</a></li>
          <li ng-click="order_field = '-sqft'"><a>SqFt</a></li>
        </ul>
      </div>
    </div>

    <div class="row homes">
      <ul class="list-unstyled">
        <li  title="{{plan.photos[0].title}}" class="result" ng-repeat="plan in invFiltered = (plans | filter:urlFilter) | orderBy:order_field" ng-if="plan.beds >= min_beds && (plan.bathsFull >= min_baths || min_baths == '0')">
          <plan-card plan="plan" />
        </li>
      </ul>
    </div>

  </div>
</section>
