<h2>Homeowner Login</h2>

<div class="row" ng-controller="HoaPasswordResetController as ctrl">
    <form name="resetPassword">
      Please provide your new password below to reset your account password.
      <label>
        Email
        <input class="form-control" type="text" name="email" disabled ng-value="ctrl.payload.email" />

        <input class="form-control" type="password" ng-model="ctrl.password" placeholder="Password"/>
        <input class="form-control" type="password" ng-model="ctrl.confirm_password" placeholder="Confirm Password"/>

        <button class="btn btn-primary" type="submit" ng-click="ctrl.submitPasswordReset()">Reset Password</button>
        <span class="error" ng-if="!ctrl.passwordsMatch()">Passwords Must Match</span>
        <span class="message" ng-if="ctrl.resetSuccess === true">Password reset email has been sent</span>
      </label>
    </form>
  </div>
</div>
